@import "../scss/main";

.header {
  display: flex;
  justify-content: space-between;

  .nav {
    ul {
      margin: 0;
      height: 100px;
      display: flex;
      list-style: none;

      li {
        width: 100px;
        height: 100%;
        text-align: center;
        cursor: pointer;
        line-height: 100px;

        &:hover {
          border-bottom: 2px solid red;
        }
      }
    }
  }
}
