@import "../../../scss/main";

.headerAuth {
  width: 50px;
  cursor: pointer;
  @include flex-center-center;

  .avatar {
    @include flex-center-center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $primary-color;
  }
}
