// buttons
$button-valid-color: #3073ee;

// app color
$primary-color: #3073ee;
$bg-active-color: #cedefc;
$grey: #dddddde3;
$error: #f00;

// form color
$form-element-bg-error: rgb(253, 232, 232);
$form-element-border-error: rgb(254, 103, 103);
$form-element-bg: rgb(255, 255, 255);
$form-element-border: rgb(161, 161, 161);
$form-element-border-focus: rgb(15, 15, 251);
$form-element-bg-focus: rgb(238, 248, 251);
